::deep .quickgrid[theme=tescat] {
    /* font-family: 'Roboto', Helvetica, Arial, sans-serif;*/
    width: 100%
}

    ::deep .quickgrid[theme=tescat] .col-title {
        gap: 0.4rem; /* Separate the sort indicator from title text */
        font-weight: bold;
        text-transform: uppercase;
    }

    ::deep .quickgrid[theme=tescat] .sort-indicator {
        /*   color: blue !important;*/
    }


/*  ::deep .quickgrid[theme=tescat] button.col-title:hover, ::deep .quickgrid[theme=tescat] .col-options-button:hover {
        background-color: var(--brand);
    }*/
/*  ::deep .quickgrid[theme=tescat] button.col-title:active, ::deep .quickgrid[theme=tescat] .col-options-button:active {
        background-color: var(--brand-hover);
    }*/
::deep .col-options {
    border-radius: 6px;
}

::deep th {
    width: 13rem;
    max-width: 19rem;
}

::deep .page-size-chooser select {
    border: 1px solid rgb(6 21 31 / .25);
    border-radius: 6px;
}

::deep td.edit-button-column button {
    background: var(--brand);
    padding: 8px 24px;
    letter-spacing: 1px;
}

    ::deep td.edit-button-column button:focus {
        background: var(--brand-hover);
        padding: 6px 18px;
        color: var(--plain-white);
    }

::deep td {
    width: 13rem;
    max-width: 19rem;
}

    ::deep td a {
        color: var(--brand-text);
    }

    ::deep td.user-name a:hover {
        color: var(--brand);
        font-weight: 500;
    }


    ::deep td a:hover {
        color: #ef443b;
        font-weight: 500;
        cursor: pointer;
    }




::deep tr {
    height: 5rem;
    border-bottom: 1px solid rgb(6 21 31 / .25); /* --brand-text in rgb values with opacity at 25%;*/
}

::deep td.type {
    text-transform: capitalize;
}


/* Magnifying glass */
::deep .user-name .col-options-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>');
    transform: translateX(68px);
    z-index: 5;
}

::deep .first-column .col-options-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>');
    transform: translateX(-12.5px);
    z-index: 5;
}





::deep thead > tr:first-child {
    height: 1rem !important;
    outline: 1px solid rgb(6 21 31 / .25);
    border-bottom: 1px solid transparent;
}

::deep thead:after {
    background: red;
}

::deep .col-header-content {
    padding: 10px 0px;
    justify-content: center;
}

::deep th.first-column .col-header-content {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

    ::deep th.first-column .col-header-content button.col-title {
        gap: 0px;
    }
    ::deep th.second-column .col-header-content button.col-title {
        gap: 0px;
    }

::deep th.user-name .col-header-content button.col-title {
    gap: 0px;
}


::deep th.col-sort-asc .col-header-content button.col-title .sort-indicator {
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

::deep th.col-sort-desc .col-header-content button.col-title .sort-indicator {
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

::deep th.user-name.col-sort-asc .col-header-content button.col-title .sort-indicator {
    transform: translateX(26px) translateY(-1px) scaleY(-1);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

::deep th.user-name.col-sort-desc .col-header-content button.col-title .sort-indicator {
    transform: translateX(26px) translateY(-1px);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}


::deep th.second-column.col-sort-asc .col-header-content button.col-title .sort-indicator {
    transform: translateX(12px) translateY(-1px) scaleY(-1);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

::deep th.second-column.col-sort-desc .col-header-content button.col-title .sort-indicator {
    transform: translateX(12px) translateY(-1px);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}



::deep th.first-column.col-sort-asc .col-header-content button.col-title .sort-indicator {
    transform: translateX(26px) translateY(-1px) scaleY(-1);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

::deep th.first-column.col-sort-desc .col-header-content button.col-title .sort-indicator {
    transform: translateX(26px);
    background-image: url("/Images/arrow.svg");
    background-position: center;
}

/* Subtle stripe effect */
/*    ::deep tr:nth-child(even) {
        background: rgba(198,212,222,0.5) !important;
    }*/

::deep td.first-column {
    padding-left: 16px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .15px;
    width: 25px;
}

::deep td.second-column {
    padding-left: 16px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .15px;
    width: 25px;
}

::deep th.first-column {
    padding-left: 16px;
    font-weight: 700;
    width: 25px;
}

::deep th.second-column {
    padding-left: 16px;
    font-weight: 700;
    width: 25px;
}



@media (min-width: 985px) {
    ::deep td.first-column {
        font-size: 16px;
    }

    ::deep td.second-column {
        font-size: 16px;
    }
}


::deep td.mantt-date {
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 14px;
    /*    padding-left: 2px*/
}

@media (min-width: 985px) {
    ::deep td.mantt-date {
        font-size: 15px;
    }
}

.grid-controlers-header {
    height: 3rem;
    border-bottom: 1px solid rgb(6 1 31 / .25);
    display: flex;
    align-items: center;
    padding: 26px 16px;
    justify-content: space-between;
}



.grid-controlers-header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.25rem;
}

    .grid-controlers-header-left span {
        font-size: 1.65rem;
        cursor: pointer;
        transition: color .25s ease-out;
    }

        .grid-controlers-header-left span:hover {
            color: var(--brand);
            transition: color .25s ease-in;
        }

    .grid-controlers-header-left button {
        /* default styles for the button*/
        color: #3ba28f;
        background: rgb(19 112 25 / .125); /* --brand-secondary in rgb values with opacity at .125%;*/
        border: 0px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 10px;
    }


    .grid-controlers-header-left.enabled button {
        color: #e32044;
        background: rgb(204 2 56 / .125); /* --brand-red in rgb values with opacity at .125%;*/
    }

    .grid-controlers-header-left.disabled button {
        color: #3ba28f;
        background: rgb(19 112 25 / .125); /* --brand-secondary in rgb values with opacity at .125%;*/
    }



div .grid {
    height: 98.25%;
    overflow-y: auto;
}

div.container {
    max-height: calc(100vh - 108px);
    height: calc(100vh - 108px);
    border-radius: 8px;
    width: 94%;
    background: var(--plain-white);
    padding: .75rem 0 1rem 1rem;
    overflow-y: hidden;
    padding: 0px;
    box-shadow: 0px 2px 4px 0 rgba(220,220,220,.50);
    border: 2px solid rgb(220, 220, 220);
}

@media (min-width: 1620px) {
    div.container {
        width: 100%;
        margin-left: 80px;
        margin-right: 80px;
    }
}


/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #F9FBFC;
    font-size: 14px;
    font-weight: 600;
    /*    outline: 1px solid gray;*/
}

    ::deep thead .col-title-text {
        color: rgba(6 21 31 / .65); /* --brand-text in rgb values with opacity at 65%;*/
        text-transform: capitalize;
    }

::deep .col-title {
    flex-grow: 0;
}

.paginator-container {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #F9FBFC;
}


.paginator-content {
    position: relative;
}



::deep .paginator {
    padding-left: 16px;
    padding-right: 16px;
}

.page-size-chooser {
    position: absolute;
    left: 6rem;
    bottom: 0.45rem;
}


/* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(6 21 31 / 5%);
    border-radius: 0px;
    box-shadow: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: none;
    margin-top: 26px;
}




.searchbox {
    background-color: var(--brand-white);
    background: transparent;
    padding: 0px 15px;
    font-size: 17px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 3rem;
    transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    border: 1px solid rgb(6 21 31 / .25); /* --brand-text in rgb values with opacity at 25%;*/
    /*   cursor: pointer;*/
    position: relative;
    overflow: hidden;
    height: 33px;
}

    .searchbox.using {
        width: 15rem;
        transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        justify-content: flex-start;
    }

        .searchbox.using i {
            margin-right: 0px;
            margin-top: 1px;
            /* transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;*/
        }

        .searchbox.using input {
            padding-left: 28px;
            width: 13rem;
        }



    .searchbox:focus-within {
        width: 15rem;
        transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        justify-content: flex-start;
    }



    .searchbox input {
        width: 15rem;
        position: absolute;
        padding-left: 3rem;
    }


    .searchbox:focus-within input {
        padding-left: 28px;
        display: inline-block;
    }

    .searchbox i {
        cursor: pointer;
        /* transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;*/
        /* margin-right: -49px;*/
    }

    .searchbox:focus-within i {
        margin-right: 0px;
        /*  transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;*/
    }



    .searchbox input {
        background-color: transparent;
        color: var(--brand-text);
        border: none;
        outline: none;
        height: 31px;
        width: 100%;
        cursor: pointer;
    }

    .searchbox.options {
        justify-content: center;
        padding: 0px 10px;
        overflow: hidden;
        margin-left: .5rem;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

        .searchbox.options:focus-within {
            justify-content: flex-start;
            padding: 0px 10px;
            padding-right: 4px;
            width: 18rem;
        }


        .searchbox.options i {
            margin: 0px
        }



    .searchbox.using-options {
        width: 18rem;
        justify-content: flex-start;
        padding-right: 4px;
    }

        .searchbox.using-options i {
            margin: 0px
        }



    .searchbox input:focus {
        cursor: text;
    }

        .searchbox input:focus::placeholder {
            opacity: 1;
            transition: opacity 0.5s, color 0.5s, ease;
            color: rgb(6 21 31 / 50%);
        }


    .searchbox input::placeholder {
        font-size: 1rem;
        font-style: italic;
        opacity: 0;
        color: transparent;
    }

i .search-icon {
    font-size: 1.75rem;
    font-size: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 2px;
    color: var(--brand-text);
}





.grid-controlers-header-right {
    padding-right: 1rem;
    display: flex;
}


.columns-options-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 20px;
    position: relative;
    border-radius: 6px;
    width: 0px;
    /*    border: 0px;*/
    height: 24px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.searchbox:focus-within div.columns-options-container {
    width: 100%;
    border: 1px solid rgb(6 21 31 / .35);
    margin-left: 4px;
    transition: background 0.45s ease;
}

.searchbox.using-options div.columns-options-container {
    width: 100%;
    margin-left: 4px;
    border: 1px solid rgb(6 21 31 / .35);
    transition: background 0.45s ease;
}



.columns-options-container label {
    font-size: 10.5px;
    font-weight: 500;
    color: var(--brand-text);
    letter-spacing: 0.15px;
    padding: 0px;
    width: 100%;
    opacity: 0;
}


.searchbox:focus-within div.columns-options-container label {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


.searchbox.using-options div.columns-options-container {
    width: 100%;
    margin-left: 4px;
    border: 1px solid rgb(6 21 31 / .35);
    transition: background 0.45s ease;
}

    .searchbox.using-options div.columns-options-container label {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }



span.material-symbols-outlined {
    color: var(--brand-text);
    transform: rotate(0deg);
    font-size: 20px;
    margin-left: -14px;
    transition: color 0.45s ease, transform 0.45s ease;
    height: 20px;
    cursor: pointer;
}

    span.material-symbols-outlined.checked {
        color: var(--brand-white);
        transform: rotate(45deg);
        transition: color 0.45s ease, transform 0.45s ease;
    }

.btn-check + .btn-primary, .btn-primary {
    background-color: transparent;
}


    .btn-check:focus + .btn-primary, .btn-primary:focus {
        background-color: transparent;
        color: var(--brand-text);
        box-shadow: none;
    }


.btn-check:active + .btn-primary {
    color: var(--brand-text);
}

.btn-check:checked + .btn-primary {
    color: var(--brand-white);
    background: transparent;
    transition: color 0.45s ease, background 0.45s ease;
}


.btn-primary {
    border: none;
}

input.btn-check {
    height: 18px;
}

