<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tescat</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column @ActiveSideBarStyles">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-fill me-3" aria-hidden="true"></span> <span class="nav-link-tab"> Inicio</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="bi bi-pc-display me-3" aria-hidden="true"></span> <span class="nav-link-tab"> Equipos</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill me-3" aria-hidden="true"></span> <span class="nav-link-tab"> Usuarios</span>
            </NavLink>

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stock">

                <span class="bi bi-motherboard-fill me-3" aria-hidden="true"> </span>

                <span class="nav-link-tab"> Almacen</span>

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">

                <span class="bi bi-lock-nav-menu me-3" aria-hidden="true">

                    <span class="nav-link-tab"> Auth Required</span>

                </span>

            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true">   </span>
                        <span class="nav-link-tab">  @context.User.Identity?.Name</span>

                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" />
                        <button type="submit" class="nav-link btn btn-outline-primary">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>
                            <span class="nav-link-tab">Logout</span>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@*
    @if (ActiveSideBarStyles == ){*@
<div style="height:3rem; display:flex; align-items:center;  padding: 0 1.15rem; ">
    @*  <LoginDisplay></LoginDisplay>*@
</div>
@*  }*@

@code {
    [Parameter] public string? ActiveSideBarStyles { get; set; }


    private bool collapseNavMenu = true;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}





