/* _content/TescatGlobalServer/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-hy1stwtmvn] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(17 129 205 / 4%) 70px,rgba(225,235,255,0) 290px);
}



main[b-hy1stwtmvn] {
    flex: 1;
    margin-left: 0;
    margin-right: 0;
   
}



    main.visible-transition[b-hy1stwtmvn] {
        opacity: 1;
        filter: blur(0);
        transition: opacity 250ms, filter 250ms ease;
    }

    main.hidden-transition[b-hy1stwtmvn] {
        opacity: 0;
        filter: blur(10px);
        transition: filter 250ms ease-out;
    }



.active-sidebar-toggle[b-hy1stwtmvn] {
    display: none;
    z-index: 9;
}





@media (min-width: 960px) {
    .active-sidebar-toggle.sidebar-active[b-hy1stwtmvn] {
        transform: translateX(168px);
    }
}


.sidebar[b-hy1stwtmvn] {
    background-image: linear-gradient(180deg, var(--plain-white) 0%, #F6F6F6 70%);
    border-radius: 1rem;
 /*   overflow: hidden;*/
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.45);
    transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background-color 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.top-row[b-hy1stwtmvn] {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hy1stwtmvn]  a, .top-row .btn-link[b-hy1stwtmvn] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-hy1stwtmvn] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hy1stwtmvn] {
        display: none;
    }

    .top-row.auth[b-hy1stwtmvn] {
        justify-content: space-between;
    }

    .top-row a[b-hy1stwtmvn], .top-row .btn-link[b-hy1stwtmvn] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hy1stwtmvn] {
        flex-direction: row;
    }

    .sidebar[b-hy1stwtmvn] {
        min-width: 5rem;
        width: 5rem;
        height: calc(100vh - 2rem);
        position: sticky;
        top: calc(0px + 1rem);
        margin: 1rem;
        z-index: 11;
    }

        .sidebar.sidebar-active[b-hy1stwtmvn] {
            width: 250px;
        }

    @media (max-width: 960px) {
        .sidebar.sidebar-active[b-hy1stwtmvn] {
            width: 5rem;
        }

        .active-sidebar-toggle[b-hy1stwtmvn] {
            transform: translateX(0px);
        }
    }

    .active-sidebar-toggle[b-hy1stwtmvn] {
        display: block;
        position: fixed;
        left: 116px;
        top: 28px;
        transform: translateX(0px);
        transition: transform 0.3s ease;
        cursor: pointer;
    }


    .top-row[b-hy1stwtmvn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-hy1stwtmvn], article[b-hy1stwtmvn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}



@media (min-width: 1640px) {
    main.container[b-hy1stwtmvn] {
        width: 250px;
    }
}


.scroll-to-top-button[b-hy1stwtmvn] {
    transition: all 0.75s ease-in-out;
    opacity: 0; /* Start with the button invisible */
    visibility: hidden;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0;
    border: none;
    background: none;
    background: var(--plain-white);
    display: flex;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

    .scroll-to-top-button:hover[b-hy1stwtmvn] {
        transform: scale(1.25);
        transition: all 0.75s ease-in-out;
    }

    /* When the button should be visible */
    .scroll-to-top-button.visible[b-hy1stwtmvn] {
        opacity: 1;
        visibility: visible;
    }
/* _content/TescatGlobalServer/Components/Layout/MainModal.razor.rz.scp.css */
.modal-content[b-yin75i1bvt] {
    border: none !important;
    border-radius: 6px !important;
}

.modal-content p[b-yin75i1bvt] {
    font-size:1.25rem;
    margin:0px;
}


.modal-footer[b-yin75i1bvt] {
    padding: 1rem;
}

 button.close[b-yin75i1bvt] {
    background: none;
    border:none;
    font-size:1.75rem;
}

body[b-yin75i1bvt] {
    background:red !important;
}
/* _content/TescatGlobalServer/Components/Layout/NavMenu.razor.rz.scp.css */


.navbar-toggler[b-hhjxwncdvi] {
    background-color: var(--brand-text);
}


.top-row[b-hhjxwncdvi] {
    height: 3.5rem;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient( to left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)) left bottom rgba(0,0,0,0) no-repeat;
    background-size: 100% 1px;
}


.navbar-brand[b-hhjxwncdvi] {
    font-size: 1.1rem;
    color: var(--brand-text);
}

    .navbar-brand:hover[b-hhjxwncdvi] {
        color: var(--brand-text);
    }

    .navbar-brand:focus[b-hhjxwncdvi] {
        color: var(--brand-text);
    }

.oi[b-hhjxwncdvi] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-hhjxwncdvi] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

nav-link[b-hhjxwncdvi] {
    color: var(--brand-text) !important;
}

a.nav-link[b-hhjxwncdvi] {
    color: var(--brand-text) !important;
}

.nav-link span[b-hhjxwncdvi] {
    font-size: 1.15rem;
}

span.nav-link-tab[b-hhjxwncdvi] {
    font-size: .90rem;
}


.nav-item:first-of-type[b-hhjxwncdvi] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-hhjxwncdvi] {
    padding-bottom: 1rem;
}

.nav-item[b-hhjxwncdvi]  a {
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    /*    color: var(--brand-text);*/
}

    .nav-item[b-hhjxwncdvi]  a.active {
        background-color: rgba(36,93,130,0.25);
        font-weight: 600;
    }

    .nav-item[b-hhjxwncdvi]  a:hover {
        background-color: rgba(36,93,130,0.1);
        font-weight: 500;
    }

@media (min-width: 641px) {

    .container-fluid[b-hhjxwncdvi] {
        justify-content: center;
    }

    .navbar-toggler[b-hhjxwncdvi] {
        display: none;
    }

    .collapse[b-hhjxwncdvi] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-hhjxwncdvi] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 10rem);
        overflow-y: auto;
        overflow:hidden;
    }


}
/* _content/TescatGlobalServer/Components/Pages/Users/AddUserPage.razor.rz.scp.css */
/* _content/TescatGlobalServer/Components/Pages/Users/UserCard.razor.rz.scp.css */
h5.card-title[b-j3jz0rm3d0] {
    font-weight: 700;
}

h6.card-subtitle[b-j3jz0rm3d0] {
    font-weight: 500;
    color: #113B55;
}

.card-body h4[b-j3jz0rm3d0] {
    font-weight: 500;
    color: var(--brand-text);
    font-size: 16px;
    display: inline-block;
}

.card-body h6[b-j3jz0rm3d0] {
    font-size: 18px;
    display: inline-block;
}

small.text-details[b-j3jz0rm3d0] {
    font-size: 1.10rem;
    color: var(--brand-text);
    /*   font-weight:600;*/
}


.card-body[b-j3jz0rm3d0] {
    padding: 1.25rem 1.25rem;
    background: var(--plain-white);
}


.card[b-j3jz0rm3d0] {
    transition: all 200ms ease-in-out;
}


    .card:hover[b-j3jz0rm3d0] {
        box-shadow: 0 1rem 3rem rgba(0,0,0, .175) !important;
        transform: scale(1.040);
        transition: all 200ms ease-in-out;
        transition-delay: 300ms;
    }


.user-card[b-j3jz0rm3d0] {
    min-width: 208px;
}


    .user-card img[b-j3jz0rm3d0] {
        height: 15rem;
    }

@media screen and (min-width: 2000px) {
    .user-card img[b-j3jz0rm3d0] {
        height: 20rem;
    }
}

.user-card:nth-child(3n-2)[b-j3jz0rm3d0] {
    padding-left: 0px;
    padding-right: 5%;
}

.user-card:nth-child(3n-1)[b-j3jz0rm3d0] {
    padding-left: 3%;
    padding-right: 3%;
}


.user-card:nth-child(3n)[b-j3jz0rm3d0] {
    padding-left: 5%;
    padding-right: 0px;
}


.card-body-content-incomplete[b-j3jz0rm3d0] {
    filter: blur(2.8px);
    user-select: none;
    pointer-events: none;
}
/* _content/TescatGlobalServer/Components/Pages/Users/UserHomePage.razor.rz.scp.css */
.overlay-alert[b-xc92gn3uii] {
    position: fixed;
    top: .5rem;
    right: 20px;
    z-index: 10;
    width:25%;
}



.cards.container[b-xc92gn3uii] {
    max-width: 100%;
    padding: 0 5%;
}

@media screen and (min-width: 2000px) {
    .cards.container[b-xc92gn3uii] {
        padding: 0 10%;
    }
}
/* _content/TescatGlobalServer/Components/Pages/Users/UserHomePageLayout.razor.rz.scp.css */
.controls-container[b-5vifhrzakp] {
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: -2.5%;
}

@media (min-width: 2000px) {
    .controls-container[b-5vifhrzakp] {
        margin-top: -2%;
    }
}
/* _content/TescatGlobalServer/Components/Pages/Users/UserPageControls/UserFilter.razor.rz.scp.css */

.filters div.dropdown[b-jh7g5xkmdg] {
    width: 50%;
}


    .filters div.dropdown button[b-jh7g5xkmdg] {
        width: 100%;
        border: none;
        text-align: left;
        font-size: 1.05rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
    }


        .filters div.dropdown button.show[b-jh7g5xkmdg] {
            background-color: rgba(36,93,130,0.25);
        }

        .filters div.dropdown button:active[b-jh7g5xkmdg] {
            background-color: rgba(36,93,130,0.25);
        }

        .filters div.dropdown button:focus[b-jh7g5xkmdg] {
            background-color: rgba(36,93,130,0.25);
        }

        .filters div.dropdown button:hover[b-jh7g5xkmdg] {
            background-color: rgba(36,93,130,0.1);
        }

.dropdown-menu li[b-jh7g5xkmdg] {
    cursor:pointer;
}
/* _content/TescatGlobalServer/Components/Pages/Users/UserPageControls/UserHomePageControls.razor.rz.scp.css */
.user-buttons-box[b-jz8ayp7ztz] {
    background: var(--plain-white);
    /*  padding: 0.25rem;*/
    border-radius: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*    height:4rem;*/
    /*width:50%*/
    position: relative;
    height: 3.125rem;
    padding: 0px 2px;
}

    .user-buttons-box button[b-jz8ayp7ztz] {
        background: transparent;
        color: var(--brand-text);
        font-weight: 700;
        font-size: 30px;
        font-size: 30px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        max-width: 100%;
        border-radius: 0.5rem;
        outline: 0px;
        border: 1px solid transparent;
        padding: 0.65rem 0.65rem;
        z-index: 2;
        overflow: hidden;
        position: relative;
    }



        .user-buttons-box button:focus[b-jz8ayp7ztz] {
            box-shadow: none;
        }

.user-buttons-box-indicator[b-jz8ayp7ztz] {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    box-shadow: rgb(221, 221, 221) 0rem 0.0625rem 0.3125rem 0.0625rem;
    background: var(--brand-white);
    height: 42px;
    position: absolute;
    border-radius: 0.5rem;
    right: 130px;
    transition: right 500ms ease, width 500ms ease;
}


.indicator-active[b-jz8ayp7ztz] {
    right: 80px;
    /* Agregar transición para suavizar el movimiento, si se desea */
    transition: right 500ms ease, width 500ms ease;
    /*   width:180px;*/
}

.user-buttons-box button:hover[b-jz8ayp7ztz] {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.ripple[b-jz8ayp7ztz] {
    position: absolute;
    background: rgba(10, 35, 51, 0.25);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate-b-jz8ayp7ztz 500ms linear infinite;
}


.dropdown-toggle[b-jz8ayp7ztz]::after {
    display: none !important;
}

@keyframes animate-b-jz8ayp7ztz {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.25;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.controls-container[b-jz8ayp7ztz] {
    padding-right: 6.25%;
    padding-right: 77px;
}

@media screen and (min-width: 2000px) {

    .controls-container[b-jz8ayp7ztz] {
        padding-right: 11%;
    }
}


.filters-dropdown[b-jz8ayp7ztz] {
    inset: 0px 0px auto auto !important;
    transform: translate(56px, 56px) !important;
}
/* _content/TescatGlobalServer/Components/Pages/Users/UserPageControls/UserSearch.razor.rz.scp.css */
.searchbox[b-m9o43cnw4l] {
    background-color: var(--brand-white);
    background: var(--plain-white);
    background: transparent;
    padding: 0px 15px;
    font-size: 17px;
    border-radius: 0.5rem;
    border: 1px solid rgba(5, 21, 31, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    width: 30px;
    /*    cursor: pointer;*/
    z-index: 2;
    transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}


    .searchbox:focus-within[b-m9o43cnw4l] {
        width: 15rem;
        transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

        .searchbox:focus-within input[b-m9o43cnw4l] {
            padding-left: 45px;
        }

    .searchbox i[b-m9o43cnw4l] {
        margin-right: -2.5px;
        transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

    .searchbox:focus-within i[b-m9o43cnw4l] {
        margin-right: 220px;
        transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }



input[b-m9o43cnw4l] {
    background-color: transparent;
    color: var(--brand-text);
    border: none;
    outline: none;
    height: 2.5rem;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

    input:focus[b-m9o43cnw4l] {
        cursor: text;
    }

        input:focus[b-m9o43cnw4l]::placeholder {
            opacity: 1;
            transition: opacity 0.5s, color 0.5s, ease;
            color: rgb(6 21 31 / 50%);
        }


    input[b-m9o43cnw4l]::placeholder {
        font-size: 1rem;
        font-style: italic;
        opacity: 0;
        color: transparent;
    }

i .search-icon[b-m9o43cnw4l] {
    font-size: 1.75rem;
    font-size: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 2px;
    color: var(--brand-text);
}
