
<div class="row mb-3">
    <h6>Editar Credenciales</h6>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seleccionar
        </button>

        <ul class="dropdown-menu">

            @if (!credentialPortalInput)
            {

                <li>
                    <p class="dropdown-item" style="cursor:pointer" @onclick="(() => credentialPortalInput = true)">Portal Web <i class="bi bi-pencil-square"></i></p>
                </li>

            }

            @if (!credentialCasaInput)
            {
                <li><p class="dropdown-item" style="cursor:pointer" @onclick="(() => credentialCasaInput = true)">CASA <i class="bi bi-pencil-square"></i></p></li>
            }

            @if (!credentialMozartInput)
            {
                <li><p class="dropdown-item" style="cursor:pointer" @onclick="(() => credentialMozartInput = true)">MOZART <i class="bi bi-pencil-square"></i></p></li>
            }

            @if (!credentialDarwinInput)
            {
                <li><p class="dropdown-item" style="cursor:pointer" @onclick="(() => credentialDarwinInput = true)">DARWIN <i class="bi bi-pencil-square"></i></p></li>
            }

            @if (!credentialOpenVpnInput)
            {
                <li><p class="dropdown-item" style="cursor:pointer" @onclick="(() => credentialOpenVpnInput = true)">OpenVPN <i class="bi bi-pencil-square"></i></p></li>
            }
        </ul>

    </div>
</div>


@if (credentialPortalInput)
{
    <div class="row mb-3">

        <h6>Portal Web</h6>

        <FormFieldSet Width="col-md-5" Label="Usuario">
            <InputText placeholder="Agregar usuario" id="portal" class="form-control" @bind-Value="Credentials.PORTAL_USER" />
            <ValidationMessage For="() => Credentials.PORTAL_USER" />
        </FormFieldSet>

        <FormFieldSet Width="col-md-5" Label="Contraseña">
            <InputText placeholder="Agregar contraseña" id="portal-pass" class="form-control" @bind-Value="Credentials.PORTAL_PASS" />
            <ValidationMessage For="() => Credentials.PORTAL_PASS" />
        </FormFieldSet>

        <div class="col-1 d-flex mt-3">
            <button class="btn btn-link" type="button" @onclick="(() => credentialPortalInput = false)">
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                     class="bi bi-x-circle-fill text-danger"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0
                        8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1
                        0-.708.708L7.293 8l-2.647 2.646a.5.5
                        0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0
                        .708-.708L8.707 8l2.647-2.646a.5.5 0 0
                        0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>

        </div>

    </div>



}

@if (credentialCasaInput)
{
    <div class="row mb-3">

        <h6>Sistemas CASA</h6>

        <FormFieldSet Width="col-md-5" Label="Usuario">
            <InputText placeholder="Agregar usuario" id="casa" class="form-control" @bind-Value="Credentials.CASA_USER" />
            <ValidationMessage For="() => Credentials.CASA_USER" />
        </FormFieldSet>

        <FormFieldSet Width="col-md-5" Label="Contraseña">
            <InputText placeholder="Agregar contraseña" id="casa-pass" class="form-control" @bind-Value="Credentials.CASA_PASS" />
            <ValidationMessage For="() => Credentials.CASA_PASS" />
        </FormFieldSet>

        <div class="col-1 d-flex mt-3">
            <button class="btn btn-link" type="button" @onclick="(() => credentialCasaInput = false)">
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                     class="bi bi-x-circle-fill text-danger"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0
                        8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1
                        0-.708.708L7.293 8l-2.647 2.646a.5.5
                        0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0
                        .708-.708L8.707 8l2.647-2.646a.5.5 0 0
                        0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>

        </div>

    </div>



}

@if (credentialMozartInput)
{
    <div class="row mb-3">

        <h6>Mozart</h6>

        <FormFieldSet Width="col-md-5" Label="Usuario">
            <InputText placeholder="Agregar usuario" id="mozart" class="form-control" @bind-Value="Credentials.MOZART_USER" />
            <ValidationMessage For="() => Credentials.MOZART_USER" />
        </FormFieldSet>

        <FormFieldSet Width="col-md-5" Label="Contraseña">
            <InputText placeholder="Agregar contraseña" id="mozart-pass" class="form-control" @bind-Value="Credentials.MOZART_PASS" />
            <ValidationMessage For="() => Credentials.MOZART_PASS" />
        </FormFieldSet>

        <div class="col-1 d-flex mt-3">
            <button class="btn btn-link" type="button" @onclick="(() => credentialMozartInput = false)">
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                     class="bi bi-x-circle-fill text-danger"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0
                        8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1
                        0-.708.708L7.293 8l-2.647 2.646a.5.5
                        0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0
                        .708-.708L8.707 8l2.647-2.646a.5.5 0 0
                        0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>

        </div>
    </div>
}

@if (credentialDarwinInput)
{
    <div class="row mb-3">

        <h6>DARWIN</h6>

        <FormFieldSet Width="col-md-5" Label="Usuario">
            <InputText placeholder="Agregar usuario" id="darwin" class="form-control" @bind-Value="Credentials.DARWIN_USER" />
            <ValidationMessage For="() => Credentials.DARWIN_USER" />
        </FormFieldSet>

        <FormFieldSet Width="col-md-5" Label="Contraseña">
            <InputText placeholder="Agregar contraseña" id="darwin-pass" class="form-control" @bind-Value="Credentials.DARWIN_PASS" />
            <ValidationMessage For="() => Credentials.DARWIN_PASS" />
        </FormFieldSet>

        <div class="col-1 d-flex mt-3">
            <button class="btn btn-link" type="button" @onclick="(() => credentialDarwinInput = false)">
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                     class="bi bi-x-circle-fill text-danger"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0
                        8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1
                        0-.708.708L7.293 8l-2.647 2.646a.5.5
                        0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0
                        .708-.708L8.707 8l2.647-2.646a.5.5 0 0
                        0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>

        </div>

    </div>
}

@if (credentialOpenVpnInput)
{
    <div class="row mb-3">

        <h6>OPENVPN</h6>

        <FormFieldSet Width="col-md-5" Label="Usuario">
            <InputText placeholder="Agregar usuario" id="vpn" class="form-control" @bind-Value="Credentials.VPN_USER" />
            <ValidationMessage For="() => Credentials.VPN_USER" />
        </FormFieldSet>

        <FormFieldSet Width="col-md-5" Label="Contraseña">
            <InputText placeholder="Agregar contraseña" id="vpn-pass" class="form-control" @bind-Value="Credentials.VPN_PASS" />
            <ValidationMessage For="() => Credentials.VPN_PASS" />
        </FormFieldSet>

        <div class="col-1 d-flex mt-3">
            <button class="btn btn-link" type="button" @onclick="(() => credentialOpenVpnInput = false)">
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                     class="bi bi-x-circle-fill text-danger"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0
                        8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1
                        0-.708.708L7.293 8l-2.647 2.646a.5.5
                        0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0
                        .708-.708L8.707 8l2.647-2.646a.5.5 0 0
                        0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>

        </div>



    </div>
}

@code {
    [Parameter]
    public UserCredentials? Credentials { get; set; }

    //credentials menu options
    private bool credentialPortalInput;
    private bool credentialCasaInput;
    private bool credentialMozartInput;
    private bool credentialDarwinInput;
    private bool credentialOpenVpnInput;

}