.searchbox[b-m9o43cnw4l] {
    background-color: var(--brand-white);
    background: var(--plain-white);
    background: transparent;
    padding: 0px 15px;
    font-size: 17px;
    border-radius: 0.5rem;
    border: 1px solid rgba(5, 21, 31, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    width: 30px;
    /*    cursor: pointer;*/
    z-index: 2;
    transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}


    .searchbox:focus-within[b-m9o43cnw4l] {
        width: 15rem;
        transition: width 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

        .searchbox:focus-within input[b-m9o43cnw4l] {
            padding-left: 45px;
        }

    .searchbox i[b-m9o43cnw4l] {
        margin-right: -2.5px;
        transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

    .searchbox:focus-within i[b-m9o43cnw4l] {
        margin-right: 220px;
        transition: margin-right 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }



input[b-m9o43cnw4l] {
    background-color: transparent;
    color: var(--brand-text);
    border: none;
    outline: none;
    height: 2.5rem;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

    input:focus[b-m9o43cnw4l] {
        cursor: text;
    }

        input:focus[b-m9o43cnw4l]::placeholder {
            opacity: 1;
            transition: opacity 0.5s, color 0.5s, ease;
            color: rgb(6 21 31 / 50%);
        }


    input[b-m9o43cnw4l]::placeholder {
        font-size: 1rem;
        font-style: italic;
        opacity: 0;
        color: transparent;
    }

i .search-icon[b-m9o43cnw4l] {
    font-size: 1.75rem;
    font-size: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 2px;
    color: var(--brand-text);
}
